<div class="container">
    <h1 class="text-center my-3", style="font-size: 100px;">About</h1>
    
    <P class="text-center", style="font-size: 25px;">ながのCAKEは全国発送可能なケーキ屋さんです。<br/>
    お子様からお年寄りの方までお召し上がりいただけるよう、<br/>
    様々なバリエーションをご用意しております。<br/>
    また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。 <br/>
    ぜひご注文ください。</P>
  <div class="row my-3 justify-content-center">
    <%= image_tag "img2.jpg", size: "800x400",style: "opacity: 0.8",class: "justify-content-center" %>
  </div>
</div>