<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="col-2 my-5 bg-light">会員一覧</h3>

      <div class="col-sm-12 col-md-10 col-lg-8 mx-auto">

        <table class="table">
          <thead>
            <tr>
              <th class="bg-light">会員ID</th>
              <th class="bg-light">氏名</th>
              <th class="bg-light">メールアドレス</th>
              <th class="bg-light">ステータス</th>
            </tr>
          </thead>

          <% @customers.each do |customer| %>
          <tbody>
            <tr>
              <td><%= customer.id %></td>
              <td><%= link_to "#{customer.last_name}#{customer.first_name}", admin_customer_path(customer) %></td>
              <td><%= customer.email %></td>
              <% if customer.is_active %>
                <td class="text-success"><b>有効</b></td>
              <% else %>
                <td class="text-secondary"><b>退会</b></td>
              <% end %>
              </tr>
              <% end %>
          </tbody>
        </table>

          <%= paginate @customers ,class: "mx-auto" %>

      </div>

    </div>
  </div>
</div>
